@media (min-width: 600px) {
    .navbar .dropdown-menu form {
        width: 18rem!important;
    }
}
.not-active {
    pointer-events: none;
    cursor: default;
}
@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}
.mt-6,
.my-6 {
    margin-top: 6rem !important;
}
.mb-6 {
    margin-bottom: 6rem !important;
}
.mt-7,
.my-7 {
    margin-top: 9rem !important;
    z-index: 500;
}
.sidebar {
    width: 20rem;
    position: fixed;
    z-index: 1;
    right: 3rem;
    top: 9rem;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}





@media (max-width: 767px) {
}


.card {
    width: 25rem;
    height: 25rem;
    margin: 0 1.5rem 3rem;
}
.small-2 {
    font-size: 30%;
    color: #a1a1a1
}
.small-icon {
    height: 1rem;
}
.display-block {
    display: block!important;
}
.text-shadow {
    text-shadow: 0 0 2px #a1a1a1;
}
.form-bottom {
    position: absolute;
    bottom: 69px;
}
.btn-attention {
    width: max-content;
    padding: 0.5rem 1rem;
}
.writer {
    position: relative;
    right: 0;
}
.text-color-soft {
    color: #a1a1a1;
}
.display-inline-block {
    display: inline-block;
}
.cursor-pointe {
    cursor: pointe!important;
}
.ml-6 {
  margin-left: 4rem !important;
}
.pt-7 {
    padding-top: 7rem !important;
}
.menu-r {
    position: fixed;
    top: 0;
    right: 3rem;
}
.b-radius {
    border-radius: 0.25rem;
    /* position: absolute;
    top: 0;
    right: 3rem; */
    float: right;
    margin-right: 3rem;
}
.b-radius {
    border-radius: 0.25rem
}
.ticket {
    color: #a1a1a1;
    float: right;
}